* {
    box-sizing: border-box;
    border: 2px solid black;
}

html {
    font-size: 10px;
    background-image: linear-gradient(to right, white, lightyellow, gold);
    background-size: 800%;
    background-position: top left;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    from {
        background-position: top left;
    }
    to {
        background-position: bottom right;
    }
}

body {
    font-size: 1.5rem;
    min-height: 100vh;
}

.rain-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20px);
    grid-auto-rows: 20px;
    gap: 20px;
    height: 100vh;
}

.rain {
    position: relative;
    border-radius: 0 10px 10px 10px;
    background-image: linear-gradient(to right, lightblue, cyan);
}

.raining {
    animation: rain 3s infinite ease-in-out;
}

@keyframes rain {
    to {
        transform: translate(0, 100vh);
    }
}

pre {
    overflow: hidden;
    white-space: pre-wrap;
}

h1 {
    position: relative;
    text-align: center;
    max-width: 50%;
    animation-name: main-header;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes main-header {
    0% {
        background-color: hotpink;
        transform: translate(0, 0);
    }
    25% {
        background-color: thistle;
        transform: translate(50%, 0);
    }
    50% {
        background-color: lime;
        transform: translate(50%, 10vh);
    }
    75% {
        background-color: cyan;
        transform: translate(0, 10vh);
    }
    100% {
        background-color: hotpink;
        transform: translate(0, 0);
    }
}

.centered-circle {
    position: relative;
    left: calc(50% - 12.5vw);
    height: 25vw;
    width: 25vw;
}

#morphing-circle {
    background-image: linear-gradient(to right, darkcyan, cyan);
    animation-name: morphing-circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes morphing-circle {
    0% {
        border-radius: 0 0 0 0;
    }
    25% {
        border-radius: 50% 0 0 0;
    }
    50% {
        border-radius: 50% 50% 0 0;
    }
    75% {
        border-radius: 50% 50% 50% 0;
    }
    100% {
        border-radius: 50% 50% 50% 50%;
    }
}

#transition-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-property: background-color, border-radius, transform;
    transition-duration: 2s, 3s, 4s;
}

#transition-1:active {
    background-color: limegreen;
    border-radius: 50%;
    transform: rotateZ(180deg);
}

#one-line-transform {
    transition: opacity 1s ease-in 100ms;
}

#one-line-transform:hover {
    opacity: 0;
}

.clickbait {
    border: 10px double orange;
    display: flex;
    background-color: pink;
}

.clickbait div {
    flex: 1;
    transition: background-color 500ms ease-in, transform 500ms ease-in;
    pointer-events: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clickbait.clicked div {
    transform: translate(50px, 50px) rotate(90deg);
    background-color: darkseagreen;
}

.one-line-animation {
    animation: expand-width 4s ease-in infinite alternate;
    transform-origin: 0 0;
    background-color: plum;
}

@keyframes expand-width {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10vw);
    grid-auto-rows: 10vw;
    gap: 10px;
    min-height: 100px;
}

.emerging-box {
    animation: emerging-box 1s ease-in infinite alternate;
}

@keyframes emerging-box {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.timing-functions dd {
    margin-left: 0;
    width: 0;
    height: 20px;
    transition-property: width;
    transition-duration: 3s;
}

.timing-functions:hover dd {
    width: 100%;
}

.timing-functions dd:nth-of-type(1) {
    background-color: powderblue;
    transition-timing-function: ease;
}

.timing-functions dd:nth-of-type(2) {
    background-color: seagreen;
    transition-timing-function: ease-in;
}

.timing-functions dd:nth-of-type(3) {
    background-color: gold;
    transition-timing-function: ease-out;
}

.timing-functions dd:nth-of-type(4) {
    background-color: orangered;
    transition-timing-function: ease-in-out;
}

.timing-functions dd:nth-of-type(5) {
    background-color: palevioletred;
    transition-timing-function: linear;
}

.paused {
    animation-play-state: paused;
}